<template>
  <div class="home">
      <button class="btn btn-success" @click="bang">bang</button>
  </div>
</template>

<script>
// @ is an alias to /src
/*eslint-disable*/
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  methods:{
    bang(){
          alert("1234567");
    },
  },
}
</script>
